In [7]:
import numpy as np
import pandas as pd
import requests
from scipy import stats
import xlsxwriter

In [5]:
stocks = pd.read_csv('starter_files/sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

Making first api call

In [13]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'companyName': 'Apple Inc',
 'marketcap': 2226199285355,
 'week52high': 149.53,
 'week52low': 77.32,
 'week52highSplitAdjustOnly': 146.44,
 'week52lowSplitAdjustOnly': 78.79,
 'week52change': 0.6754230704419859,
 'sharesOutstanding': 17222494549,
 'float': 0,
 'avg10Volume': 103770830,
 'avg30Volume': 95774157,
 'day200MovingAvg': 127.28,
 'day50MovingAvg': 131.53,
 'employees': 153909,
 'ttmEPS': 4.57,
 'ttmDividendRate': 0.8432751257465703,
 'dividendYield': 0.006703439587525757,
 'nextDividendDate': '0',
 'exDividendDate': '2021-05-03',
 'nextEarningsDate': '2021-07-25',
 'peRatio': 29.25654035210377,
 'beta': 1.4361134303364205,
 'maxChangePercent': 49.90477731401838,
 'year5ChangePercent': 5.177123520177282,
 'year2ChangePercent': 1.74284956481995,
 'year1ChangePercent': 0.6867642160688658,
 'ytdChangePercent': -0.03693967780920496,
 'month6ChangePercent': 0.07525019749490966,
 'month3ChangePercent': -0.057165312163051,
 'month1ChangePercent': -0.051811942622294,
 'day30ChangePercent': -0.0519691965344543,
 'day5ChangePercent': -0.02188102191175803}

In [14]:
data['year1ChangePercent']

0.6867642160688658

In [16]:
def chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

symbol_groups = list(chunks(stocks['Ticker'], 100))        
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'One year Price Return', 'Number of share to buy']

In [23]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=price,stats&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
            pd.Series(
            
            [
                symbol,
                data[symbol]['price'],
                data[symbol]['stats']['year1ChangePercent'],
                'N/A'
            ],
            index = my_columns),
            ignore_index=True
            
        ) 
        
final_dataframe

    Ticker   Price One year Price Return Number of share to buy
0        A  134.99              0.630436                    N/A
1      AAL   22.50               1.49961                    N/A
2      AAP  211.35              0.635032                    N/A
3     AAPL  129.41              0.686959                    N/A
4     ABBV  118.10              0.359581                    N/A
..     ...     ...                   ...                    ...
500    YUM  123.17              0.452932                    N/A
501    ZBH  169.32              0.514387                    N/A
502   ZBRA  499.28               1.24676                    N/A
503   ZION   62.70               1.34559                    N/A
504    ZTS  180.02              0.363189                    N/A

[505 rows x 4 columns]

Remove Low-Momentum Stocks

In [32]:
final_dataframe.sort_values('One year Price Return', ascending=False, inplace = True)
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace=True)

In [31]:
final_dataframe

    level_0  index Ticker   Price One year Price Return Number of share to buy
0         0    275     LB   70.55               5.48929                    N/A
1         1    179    FCX   43.91               4.18656                    N/A
2         2    208    GPS   35.94               3.78819                    N/A
3         3    253    IVZ   27.98               3.38862                    N/A
4         4    441    TPR   48.63               2.92886                    N/A
5         5    314    MOS   37.84               2.74934                    N/A
6         6    272    KSS   63.86               2.51438                    N/A
7         7    410   SIVB  594.39               2.37049                    N/A
8         8    385    PWR   99.59               2.20766                    N/A
9         9    129    DFS  119.88               2.20529                    N/A
10       10    128     DE  397.00                2.1543                    N/A
11       11    233    HWM   34.17               2.12997                    N/A
12       12    453    UAA   23.02               2.03516                    N/A
13       13    426    SYF   48.60                2.0014                    N/A
14       14    462    URI  357.67               1.95297                    N/A
15       15    180    FDX  314.61               1.91803                    N/A
16       16    306    MHK  227.00               1.90553                    N/A
17       17    450    TXT   68.00                1.8844                    N/A
18       18    305    MGM   39.53               1.87312                    N/A
19       19    384    PVH  115.46               1.85395                    N/A
20       20    344    NUE  106.04                1.8538                    N/A
21       21     24   ALGN  588.76                1.8402                    N/A
22       22    454    UAL   56.65                1.8276                    N/A
23       23     98    CMA   81.92                1.8103                    N/A
24       24    185   FITB   44.29               1.80632                    N/A
25       25    452     UA   19.49               1.79718                    N/A
26       26    111   COTY    8.95               1.79563                    N/A
27       27    106    COF  164.49               1.78376                    N/A
28       28     23    ALB  168.15               1.78132                    N/A
29       29     25    ALK   70.96               1.72529                    N/A
30       30    394     RF   23.40               1.70362                    N/A
31       31     78   CARR   45.57               1.70223                    N/A
32       32    289    LUV   62.30               1.67101                    N/A
33       33     90    CFG   52.11               1.66333                    N/A
34       34    172   EXPE  179.60               1.65017                    N/A
35       35    328   NCLH   29.09               1.62485                    N/A
36       36    347    NWL   30.35               1.60681                    N/A
37       37    489    WRK   60.82                1.5977                    N/A
38       38    417    SPG  123.54               1.59592                    N/A
39       39    262    KEY   24.02               1.58291                    N/A
40       40     95   CINF  126.71               1.55914                    N/A
41       41    349   NWSA   27.10               1.54586                    N/A
42       42      1    AAL   22.50               1.49961                    N/A
43       43     29   AMAT  126.60               1.48257                    N/A
44       44    203     GM   56.00               1.48224                    N/A
45       45    446     TT  188.70               1.47787                    N/A
46       46    126    DAL   48.10                 1.477                    N/A
47       47    174      F   12.40               1.47298                    N/A
48       48    288   LRCX  617.73               1.46762                    N/A
49       49    461    UPS  219.35                1.4633                    N/A